div.article {
  clear: both;
  min-height: 90px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 2px;
  padding-top: 25px;
  font-size: .9em; }
  div.article span.img {
    float: left; }
    div.article span.img img {
      width: 60px; }
  div.article span.nom, div.article span.description {
    margin-left: 25px; }
  div.article span.prix {
    float: right;
    position: relative;
    right: 50px;
    top: -35px; }
  div.article span.actions {
    margin-left: 25px; }
  div.article span.actions a {
    text-decoration: none; }
  div.article span.actions img {
    width: 12px;
    border: 1px solid black; }
  div.article span.actions span.supprimer a, div.article span.actions span.ajouter a {
    clear: both;
    float: right;
    margin-right: 25px; }
    div.article span.actions span.supprimer a img, div.article span.actions span.ajouter a img {
      width: 20px;
      position: relative;
      top: -35px;
      right: 35px;
      border: none; }

div.total {
  background-color: #fff;
  padding: 10px;
  text-align: right; }
