<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	$('div.not-login').text("Veuillez vous identifier dans le site pour accéder au paiement.").addClass('msgError');
</script>