<div id="contenuCentre">
<!-- La apage Contact -->
<h1>Pour nous joindre :</h1>
<p>Nos services sont disponibles dans deux pays. N'hésitez pas à nous contacter pour toute information supplémentaire, ou suggestion!</p>


	<div id="bouira">
		<!-- Contact Algérie fictif -->
		<h4>Oliviers Ould Hocine Algérie</h4>
		<p style="text-align:center;padding:0 0 5px 0;">Boulevard Zaamoum Salah</p>
		<p style="text-align:center;padding:0 0 5px 0;">Batiment D4</p>
		<p style="text-align:center;padding:0 0 5px 0;">Bouira, Algérie</p>
		<h5 style="font-weight:normal;"><span style="font-weight:bold;">Tél :</span> (213)-026-777-777</h5>
		<h5 style="font-weight:normal;"><span style="font-weight:bold;">Fax :</span> (213)-026-777-778</h5>
		<h5 style="font-weight:normal;"><span style="font-weight:bold;">Courriel :</span> bouira@oho.com</h5>
		
	</div>
	
	<div id="paris">
		<!-- Contact Frnace fictif -->
		<h4>Oliviers Ould Hocine France</h4>
		<p style="text-align:center;padding:0 0 5px 0;">25, rue Maurice Ripoche</p>
		<p style="text-align:center;padding:0 0 5px 0;">75014</p>
		<p style="text-align:center;padding:0 0 5px 0;">Paris, France</p>
		<h5 style="font-weight:normal;"><span style="font-weight:bold;">Tél :</span> (033)-01-7777-7777</h5>
		<h5 style="font-weight:normal;"><span style="font-weight:bold;">Fax :</span> (033)-01-7777-7778</h5>
		<h5 style="font-weight:normal;"><span style="font-weight:bold;">Courriel :</span> paris@oho.com</h5>
	</div>
	
	<!-- Google Mape (Essai, ceci est la mape de mon école primaire en Algérie ) -->
	<div style="text-align:center;"><iframe width="550" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Boulevard+Zaamoum+Salah,+Bouria,+Algeria+(Khira+Ould+Hocine)&amp;aq=&amp;sll=36.378623,3.903344&amp;sspn=0.004984,0.011072&amp;ie=UTF8&amp;t=m&amp;ll=36.385084,3.903322&amp;spn=0.024184,0.047207&amp;z=14&amp;iwloc=lyrftr:m,6804174312769276466,36.378355,3.903535&amp;output=embed"></iframe><br /><small><a href="http://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Boulevard+Zaamoum+Salah,+Bouria,+Algeria+(Khira+Ould+Hocine)&amp;aq=&amp;sll=36.378623,3.903344&amp;sspn=0.004984,0.011072&amp;ie=UTF8&amp;t=m&amp;ll=36.385084,3.903322&amp;spn=0.024184,0.047207&amp;z=14&amp;iwloc=lyrftr:m,6804174312769276466,36.378355,3.903535" style="color:#0000FF;text-align:left">View Larger Map</a></small></div>
</div>