<div style="text-align:center;">
	<!--intégration de l'entête animée en flash -->

	 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="600" height="250" id="FlashID" title="OHO">
	   <param name="movie" value="medias/flash/accueilAnimCS4.swf" />
	   <param name="quality" value="high" />
	   <param name="wmode" value="opaque" />
	   <param name="swfversion" value="6.0.65.0" />
	   
	<!-- Cette balise <param> invite les utilisateurs de Flash Player en version 6.0 r65 et ultérieure à télécharger la version la plus récente de Flash Player. Supprimez-la si vous ne voulez pas que cette invite soit visible. -->
	   <param name="expressinstall" value="medias/flash/expressInstall.swf" />
	   
	<!-- La balise <object> suivante est destinée aux navigateurs autres qu'IE. Supprimez-la d'IE à l'aide d'IECC. -->
		<!--[if !IE]>-->
	   <object type="application/x-shockwave-flash" data="medias/flash/accueilAnimCS4.swf" width="600" height="250">
		<!--<![endif]-->
		 
		 <param name="quality" value="high" />
		 <param name="wmode" value="opaque" />
		 <param name="swfversion" value="6.0.65.0" />
		 <param name="expressinstall" value="medias/flash/accueilAnimCS4.swf" />
		 
		<!-- Le navigateur affichera le contenu alternatif suivant pour les utilisateurs d'un lecteur Flash de version 6.0 ou de versions plus anciennes. -->
		 <div>
		   <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
		   <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
		 </div>
		 
		<!--[if !IE]>-->
	   </object>
		<!--<![endif]-->
	 </object>
	 
</div>