<!-- Menu Administrateur -->
<div id="menuAdmin">
		<ul>
			<li><a href="Administrateur.php?entree=1" id="newCommande">Nouvelles commandes</a></li>
			<li><a href="Administrateur.php?entree=2" id="newAdmin">Gérer les Admin</a></li>
			<li><a href="Administrateur.php?entree=3" id="newProduit">Gérer les produits</a></li>
			<li><a href="Administrateur.php?entree=4" id="newClient">Chercher Client</a></li>
		</ul>
	</div>