
	<div id="bas">
	<a href="?page=plan">Plan du site</a>
	<p>Mars 2012 - Tous droits r&eacute;s&eacute;rv&eacute;s.</p>
	<p>&copy; Lilia <a href="?page=accueil.php">Ould Hocine</a></p>
	<p>
	<!-- Css Validation -->
    <a href="http://validator.w3.org/check?uri=referer">
		<img style="border:0;width:88px;height:31px"
		src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
	<a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fe1195775.webdev.cmaisonneuve.qc.ca%2Fprojet1%2Fcss%2Fcss.css&amp;profile=css3&amp;usermedium=all&amp;warning=1&amp;vextwarning=&amp;lang=en">
    <img style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="Valid CSS!" />
	</a>
	</p>	
	</div>
	